.coverage
.DS_Store
.vscode
.vscode/
*__pycache__/
*.egg-info/
*.log
*.sh
*.zarr
*/_version.py
202*
build/
data/
epiquant/
example/multiomics_run/
logs/
modality
my_test/
notebooks/
site/
sps*
test_dataset.ipynb
test_output/
full_test
todo.md
SEACR/